-load crispy_forms_tags
-load lesson_tags
-load static
-load bootstrap3

-if resource.added_by != request.user
  %body
    %header.header.text-center
      %link{:href => "{% static 'StarRating.css' %}", :rel => "stylesheet", :type => "text/css"}/
      %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css", :rel => "stylesheet"}/
    %section.rating-widget
      #starId.rating-stars.text-center{:float => "left"}
        %ul#stars
          %li.star{:data-value => "1", :title => "Mauvais"}
            %i.fa.fa-star.fa-fw
          %li.star{:data-value => "2", :title => "Passable"}
            %i.fa.fa-star.fa-fw
          %li.star{:data-value => "3", :title => "Satisfaisant"}
            %i.fa.fa-star.fa-fw
          %li.star{:data-value => "4", :title => "Bien"}
            %i.fa.fa-star.fa-fw
          %li.star{:data-value => "5", :title => "Excellent"}
            %i.fa.fa-star.fa-fw
      #Icon{:float => "left", :style => "display in-line"}
        #IconText
          %img{src: "{% static 'img/icons/star1.png' %}", :style => "width: 100%; height: 100%;"}/
        #fillIcon
          %img{src: "{% static 'img/icons/star2.png' %}", :style => "width: 5em; height: 5em;"}/
    %section.questionnaire
      %input{id:"resource_id", type: "hidden", value: "{{ resource.id }}"}
      %input{id:"json_q", type: "hidden", value: "{{ questionnaire }}"}
    %button{id:"buttonSubmit",  type: "submit"}
      Valider

-if resource.added_by == request.user
  %body{id: "post_user"}
    .content You can't see the rating form. You are Owner of this resource

%script{:src => "{% static 'jquery-3.2.1.min.js' %}", :type => "text/javascript"}
:javascript
      var json_data;
      var build = false;
      $(document).ready(function(){

        	/* We start by hiding the questionnaire, it becomes visible once the number of starts are selected */

      	var fill = 0;
      	var update = setInterval(function()
      	{
          	fill += 1;
          	$('#fillIcon').css('height', (fill+'%'));
          	//$('#fillIcon').css('margin-top', ((100 - fill)+'%'));
          	if (fill == 60) {
              	clearInterval(update);
          }

      	}, 75);

        	$("#buttonSubmit").hide()

      	/* Default value for star rating and responses*/
      	var ratingValue = -1
      	var resp1 = "?"
      	var resp2 = "?"
      	var resp3 = "?"

        	/* Handles everything when mouse over star rating */
        	$('#stars li').on('mouseover', function(){
          var onStar = parseInt($(this).data('value'), 10); // The star currently mouse on

          // Now highlight all the stars that's not after the current hovered star
          $(this).parent().children('li.star').each(function(e){
            if (e < onStar) {
              $(this).addClass('hover');
            }
            else {
              $(this).removeClass('hover');
            }
          });

        	}).on('mouseout', function(){
          	$(this).parent().children('li.star').each(function(e){
            	$(this).removeClass('hover');
          	});
        	});


        	/* Handles everything when we click on the stars */
        	$('#stars li').on('click', function(){

        		// We start by showing the questionnaire
        		make_questionnaire()
        		//$(".questionnaire").show()
        		$("#buttonSubmit").show()

          	var onStar = parseInt($(this).data('value'), 10); // The star currently selected
          	var stars = $(this).parent().children('li.star');

          	for (i = 0; i < stars.length; i++) {
            		$(stars[i]).removeClass('selected');
          	}

          	for (i = 0; i < onStar; i++) {
            		$(stars[i]).addClass('selected');
          	}

          	// ratingValue contains the current value attribuated
          	ratingValue = parseInt($('#stars li.selected').last().data('value'), 10);
        	});

        	$('#Icon').on('mouseover', function(){
        		window.prompt("some text", "default text");
        	});

        	$('#buttonSubmit').on('click', function(){
      			submit(ratingValue);
        		});
        	/*$('#buttonSubmit').on('click', function(event){
              event.preventDefault();
              console.log("form submitted!")// sanity check
              create_rate();
            });*/
      });
      function create_rate(json_s) {
          $.ajax({
              url : "rate/", // the endpoint
              type : "POST", // http method
              data : { json_str: json_s }, // data sent with the post request

              // handle a successful response
              success : function(json) {
                  // Use json to set average for each question
                  console.log("success GET"); // another sanity check
                  show_average();
              },

              // handle a non-successful response
              error : function(xhr,errmsg,err) {
                  $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                      " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                  console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
              }
          });
      };
      function make_questionnaire() {
        if (build) {
            return;
        }
        // USE "{{geodata|escapejs}}"
        json = document.getElementById('json_q').value;
        var body = document.getElementsByTagName('section')[0];
        json_data = JSON.parse(json);
        var question_data = json_data;

        for (var key in question_data) {
            addQuestion(body,question_data[key],key);
        }
        build=true;
      };
      function addQuestion(parentElement,array,question_id) {
          // array = [question,answer1,answer_id,answer2,answer_id,...]

          var form = document.createElement('form');
          form.id = question_id;
          parentElement.appendChild(form);
          form.innerHTML= array[0]+'<br>';

          for (i=1;i<array.length;i+=1) {
              var a_id = array[i+1];
              var a = array[i];
              var div = document.createElement('div');

              var input = document.createElement('input');
              input.name = "answer";
              input.type = 'RADIO';
              input.value = a;
              input.id = "a"+a_id;

              var label = document.createElement('label');
              label.id = a_id;
              label.for = a_id;
              label.innerHTML = a;


              form.appendChild(div);
              div.appendChild(input);
              div.appendChild(label);
              i+=1;
          }
      };
      function submit(stars) {
          var obj = new Object(); // will be used to create new json
          var select_cnt=0;
          var question_cnt=0;
          resource_id = document.getElementById('resource_id').value;
          obj['resource_id'] = resource_id;
          obj['stars'] = stars;
          for (var key in json_data) {
              for (var answer in json_data[key]) {
                  if (answer > 0 && ((answer%2) == 0)) {
                      selected = document.getElementById("a"+json_data[key][answer]);
                      if (selected.checked) {
                          // store check boxes with corresponding question_id
                          obj[key] = selected.id.replace("a","");
                          select_cnt+=1
                      }
                  }
              }
              question_cnt+=1;
          }
          if (select_cnt != question_cnt) {
              alert("Please answer all "+question_cnt+" questions")
              console.log(select_cnt+" "+question_cnt);
          } else {
              create_rate(JSON.stringify(obj));
              alert("Thanks for your vote")
              document.getElementById('buttonSubmit').disabled = true;
          }
      };
      function show_average() {
          var elem = document.getElementsByName("answer")
          for (i = 0; i < elem.length; i++) {
              var parent = elem[i].parentElement;
              var b = document.createElement('b');
              b.style = "margin-left:30px;"
              b.innerHTML = "votes: X <br>";
              parent.appendChild(b);
              elem[i].disabled = true;
          }
          document.getElementById('buttonSubmit').remove();
      };
